*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0 auto;
}

img{
    width: 100%;
}

h1{
    margin-block: 0;
    font-size: 70px;
    font-weight: 900;
    color: white;
}

header{
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 5px 5px #4d4d4d80;
    position: relative;
}

.logo-header{
    width: 150px;
}

#nav-bar>nav{
    display: flex;
    justify-content: center;
}

#houseplants{
    height: 50vh;
}

#accessories{
    height: 50vh;
}

#gift{
    height: 50vh;
}

#businesses{
    height: 50vh;
}

a.menu:link, a.menu:visited{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

button{
    border-radius: 5px;
    border: 2px solid #3B5F27;
    padding: 10px;
    font-weight: 700;
}

#login{
    background-color: white;
    color: #627A46;
    font-size: 20px;
    margin: 10px;
}

#sign-up{
    background-color: #3B5F27;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.container{
    display: flex;
}

#buttons-icons{
    display: flex;
    align-items: center;
}

a.icon:link{
    color: black;
    padding: 16px;
}

/* start - hero section */
#hero{
    display: none;
    background-image: url('../img/hero-img.png');
    height: 100vh;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

#hero-btn{
    background-color: rgba(255, 255, 255, 0.945);
    width: 500px;
    margin: 100px;
    padding: 20px;
    border-radius: 10px;
    color: #3B5F27;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 10px 30px rgba(0, 0, 0, 0.25);
}

#hero-btn>p{
    margin-block-start: 0;
    margin-bottom: 20px;
    font-size: 25px;
}

#plants-bundle-btn{
    background-color: #3B5F27;
    color: white;
    border: 2px solid  rgba(255, 255, 255, 0.945);
}

/* start - our new loves section */
#our-new-loves{
    background-color: #3B5F27;
    height: 100vh;
}

#heading-1{
    padding: 50px 100px;
}

.plants{
    display: flex;
    justify-content: center;
}

#alocasia-polly{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #F5D4BD;
    background-image:url('../img/AlocasiaPolly.png');
    background-position: center;
    position: relative;
    width: 325px;
    height: 400px;
    border-radius: 30px;
}

#plant-id{
    border: 2px solid tomato;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

#plant-id>p{
    margin-block: 0;
}

.plant-name-price{
    border: 1px dashed blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0px 0px 0px;
}

.plant-name-price>p{
    font-weight: 900;
    margin-block: 0;
    font-size: 30px;
}

@media only screen and (max-width: 767px){
    header{
        flex-direction: column;
    }

    #nav-bar>nav{
        flex-direction: column;
    }
}





